<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FarmaciaEntities" connectionString="metadata=res://*/AppModel.Model1.csdl|res://*/AppModel.Model1.ssdl|res://*/AppModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GFGGUM9\SQL;initial catalog=Farmacia;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WindowsFormsApp1.Properties.Settings.FarmaciaConnectionString"
      connectionString="Data Source=DESKTOP-GFGGUM9\SQL;Initial Catalog=Farmacia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>